h1{
    margin-bottom: 30px;
    color: rgb(175, 186, 238);
    text-decoration: red;
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color: rgba(97, 225, 65, 0.747);
    border: solid;
    font-weight: bold;
}
button{
    margin-bottom: 20px;
    background-color: seashell;
    font-weight: bold;
}
hr{
    margin-bottom: 15px;
}
body{
    background-color: springgreen;
}